* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  transition-property: background-color, background-size;
  transition-duration: 1s;
  background-image: none;
}

@import "$HOME/.config/waybar/theme.css";

window {
  background-color: transparent;
}

button {
  color: @main-fg;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border: 12.8px solid transparent;
  text-shadow: none;
  box-shadow: none;
}
button:focus {
  color: transparent;
  background-color: @active-bg;
  background-size: 55%;
  outline: 2px solid @black;
  outline-radius: 0;
}
button:hover {
  color: transparent;
  background-color: @hover-bg;
  background-size: 55%;
}

#lock {
  background-image: url("$HOME/.config/wlogout/icons/lock.png");
  background-size: 40%;
  border-radius: 0;
  margin : ${y_margin}px 0 0 ${x_margin}px;
}
button:focus#lock,
button:hover#lock {
  background-image: url("$HOME/.config/wlogout/icons/lock.png");
  background-size: 60%;
}

#logout {
  background-image: url("$HOME/.config/wlogout/icons/logout.png");
  background-size: 40%;
  border-radius: 0;
  margin : 0 0 ${y_margin}px ${x_margin}px;
}
button:focus#logout,
button:hover#logout {
  background-image: url("$HOME/.config/wlogout/icons/logout.png");
  background-size: 60%;
}

#shutdown {
  background-image: url("$HOME/.config/wlogout/icons/shutdown.png");
  border-radius: 0;
  margin : ${y_margin}px ${x_margin}px 0 0;
}

#reboot {
  background-image: url("$HOME/.config/wlogout/icons/reboot.png");
  border-radius: 0;
  margin : 0 ${x_margin}px ${y_margin}px 0;
}
