* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  transition-property: background-color, background-size;
  transition-duration: 1s;
  background-image: none;
}

@import "$HOME/.config/waybar/theme.css";

window {
  background-color: transparent;
}

button {
  color: @main-fg;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border: 12.8px solid transparent;
  text-shadow: none;
  box-shadow: none;
}
button:focus {
  color: transparent;
  background-color: @active-bg;
  background-size: 60%;
  outline: 2px solid @black;
  outline-radius: 0;
}
button:hover {
  color: transparent;
  background-color: @hover-bg;
  background-size: 60%;
}

#lock {
  background-image: url("$HOME/.config/wlogout/icons/lock.png");
  background-size: 57%;
  border-radius: 0;
  margin: ${margin}px 0 ${margin}px ${margin}px;
}
button:focus#lock,
button:hover#lock {
  background-image: url("$HOME/.config/wlogout/icons/lock.png");
  background-size: 77%;
}

#logout {
  background-image: url("$HOME/.config/wlogout/icons/logout.png");
  background-size: 45%;
  border-radius: 0;
  margin: ${margin}px 0 ${margin}px 0;
}
button:focus#logout,
button:hover#logout {
  background-image: url("$HOME/.config/wlogout/icons/logout.png");
  background-size: 65%;
}

#suspend {
  background-image: url("$HOME/.config/wlogout/icons/suspend.png");
  background-size: 45%;
  border-radius: 0;
  margin: ${margin}px 0 ${margin}px 0;
}
button:focus#suspend,
button:hover#suspend {
  background-image: url("$HOME/.config/wlogout/icons/suspend.png");
  background-size: 65%;
}

#shutdown {
  background-image: url("$HOME/.config/wlogout/icons/shutdown.png");
  border-radius: 0;
  margin: ${margin}px 0 ${margin}px 0;
}

#hibernate {
  background-image: url("$HOME/.config/wlogout/icons/hibernate.png");
  background-size: 37%;
  border-radius: 0;
  margin: ${margin}px 0 ${margin}px 0;
}
button:focus#hibernate,
button:hover#hibernate {
  background-image: url("$HOME/.config/wlogout/icons/hibernate.png");
  background-size: 57%;
}

#reboot {
  background-image: url("$HOME/.config/wlogout/icons/reboot.png");
  background-size: 47%;
  border-radius: 0;
  margin: ${margin}px ${margin}px ${margin}px 0;
}
button:focus#reboot,
button:hover#reboot {
  background-image: url("$HOME/.config/wlogout/icons/reboot.png");
  background-size: 67%;
}
